<h1>Signu Up Here</h1>
<form action="/auth/signup" method="POST">
    <label>Username: 
        <input required name="username">
    </label>
    <label>Password: 
        <input type="password" required name="password">
    </label>
    <button type="submit">Signup</button>
</form>